.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 1rem 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dashboard {
    background: var(--background-mid);
    height: 90vh;
    border-radius: 5px;
    padding: 1rem;
}