.wave {
    position: absolute; 
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.topWave {
    top: -1px;
}

.bottomWave {
    bottom: -1px;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 135px;
}

.topWave svg {
    transform: rotateY(180deg);
}

.wave svg path {
    fill: var(--background-light);
}