@import '../../node_modules/@fortawesome/fontawesome-svg-core/styles.css';

@import '../styles/animations';
@import '../styles/waves.css';
@import '../styles/vertical-spinner.css';

@import '../styles/buttons.css';
@import '../styles/typography.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

html,
body {
  background: var(--background-light);
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  --text-light: #fff;
  --text-mid: #8890aa;
  --text-muted: #b0b7c8;
  --text-dark: #4a5372;

  --color-primary: #2c99f8;
  --color-secondary: #622cf8;
  --color-tint: #e1e8f0;

  --background-light: #fff;
  --background-mid: #f5f6fa;
  --background-dark: #121416;
  --background-hover: #262a2e;

  --background-gradient: linear-gradient(45deg, var(--color-primary) 0%, var(--color-secondary) 100%);
  --background-gradient-reverse: linear-gradient(45deg, var(--color-secondary) 0%, var(--color-primary) 100%);
  --background-gradient-hover: linear-gradient(45deg, var(--color-primary) 20%, var(--color-secondary) 100%);

  --color-danger: #f76f7d;
  --color-success: #23d692;
  --color-warning: #fac545;

  --shadow-xl: 0 0px 10px rgba(52, 74, 181, 0.15), 0 10px 30px rgba(52, 74, 181, 0.1);
  --shadow-l: 0 5px 20px rgba(52, 74, 181, 0.10), 0 8px 8px rgba(52, 74, 181, 0.05);
  --shadow-m: 0 1px 10px rgba(52, 74, 181, 0.10), 0 5px 5px rgba(52, 74, 181, 0.05);
  --shadow-s: 0 2px 6px rgba(52, 74, 181, 0.10), 0 2px 5px rgba(52, 74, 181, 0.05);

  --animation-duration: 0.3s;
}

body {
  background-color: var(--background-light);
}

input,
button,
p,
a,
h1,
h2,
h3,
h4,
h5 {
  font-family: inherit;
}

/* Inputs */
input::placeholder {
  color: var(--text-muted);
}

input:focus::placeholder {
  color: transparent;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-mid);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--background-hover);
}

/* Global Function Classes */
.disabled {
  cursor: initial;
  pointer-events: none;
  opacity: 0.8;
}