/* Testing purposes */
.placeholder {
    background: #fff;
    height: 300px;
    margin-bottom: 50px;
}

.placeholderDark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: var(--background-dark);
    height: 400px;
    margin-bottom: 150px;

    padding: 4rem;

    /* Rhombus */
    background-color: #040405;
    opacity: 0.9;
    background-image:
        linear-gradient(135deg, #000000 25%, transparent 25%),
        linear-gradient(225deg, #000000 25%, transparent 25%),
        linear-gradient(45deg, #000000 25%, transparent 25%),
        linear-gradient(315deg, #000000 25%, #040405 25%);
    background-position: 4px 0, 4px 0, 0 0, 0 0;
    background-size: 4px 4px;
    background-repeat: repeat;
}

.placeholderDark h3 {
    color: #fff;
    font-size: 2.5rem;
}

.placeholderDark h3 span {
    color: var(--color-accent-dark);
}

.actionbutton {
    outline: none;
    border: none;
    font-weight: bold;
    padding: 0.75rem 2.25rem;
    background: var(--color-accent-dark);
    border: 1px solid var(--color-accent-dark);
    color: var(--color-light);
    text-shadow: 1px 1px 0px var(--color-accent-light);
    ;
    margin-top: 2rem;
    border-radius: 3px;

    transition: all 0.3s linear;
}

.actionbutton:hover {
    cursor: pointer;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: calc(100vh - 95px);
}

.notFound h1 {
    margin-top: 10rem;
    line-height: 9rem;
    font-size: 10rem;
    color: var(--color-accent-dark);

    background: var(--background-gradient-45deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.notFound p {
    font-weight: 600;
}