.notFound {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: calc(100vh - 200px);
    background: var(--background-gradient);
}

.notFound h1 {
    line-height: 9rem;
    font-size: 10rem;
    color: var(--text-light);
    text-shadow: var(--shadow-xl);
}

.notFound p {
    font-weight: 600;
    color: var(--text-light);
    text-shadow: var(--shadow-xl);
}

.pageLoading {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.information {
    max-width: 800px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 5rem;
}

.information h2 {
    font-size: 2.5rem;
}

.information p {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--text-muted);
}

.informationDark {
    margin: 2rem 0;
    margin-top: 5rem;
    background: var(--background-dark);
    padding: 4rem;
}
.informationDark > div {
    max-width: 1300px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.informationDark > div img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    box-shadow: var(--shadow-s);
}

.informationDark > div p {
    color: var(--text-muted);
}