.products {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.productCard {
    width: 250px;
    background: var(--background-light);
    border-radius: 5px;
    box-shadow: var(--shadow-xl);

    display: flex;
    flex-direction: column;

    transition: all var(--animation-duration) ease-in-out;
}

.productCard:hover {
    transform: scale(1.1);
}

.productCard .pricing,
.productCard .header {
    border-radius: 5px;
    position: relative;
    background: var(--background-gradient);
    padding: 1rem;
    text-align: center;
}

.productCard .pricing {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 1rem;
}

.productCard .header {
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

.productCard h4,
.productCard h3 {
    text-align: center;
    color: var(--text-light);
    text-shadow: var(--full-shadow);
}

.productCard h4 {
    font-size: 2.5rem;
}

.productCard h4 span {
    font-size: 1rem;
}

.productCard ul {
    list-style: none;
}

.productCard .information {
    padding: 1rem;
    font-weight: 600;
}

.productCard li {
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-bottom: 1px solid var(--color-tint);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.productCard button {
    margin-top: 0.5rem;
}