.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem 5rem;
    gap: 2rem;
}

.navigation>div:last-of-type {
    display: flex;
}

.menu ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
}

.menu li:hover a,
.menu li:hover svg {
    color: var(--color-accent-dark) !important;
}

.menu li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    cursor: pointer;

    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    transition: all var(--animation-duration) ease-in-out;
}

.avatar {
    border-radius: 100%;
}

.signoutButton {
    margin-left: 2rem;
}

.confirmLogoutModalContainer {
    z-index: 100;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.35);
}

.confirmLogoutModalContainer>div {
    background: white;
    padding: 1.5rem 3rem;
    border-radius: 0.5rem;
}

.confirmLogoutModalContainer .actions {
    border-top: 1px solid var(--tint);
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
}

.confirmLogoutModalContainer button {
    margin-right: 1rem;
}