.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem 5rem;
    gap: 2rem;
    z-index: 2;
}

.navigation>div:last-of-type {
    display: flex;
}

.navigation h2 {
    margin-bottom: 0;
}

.menu ul {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.menu li:hover a,
.menu li:hover svg {
    color: var(--color-primary);
}

.menu li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    cursor: pointer;

    font-size: 0.75rem;
    font-weight: 900;
}

.avatar {
    padding: 0.5rem 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.avatar img {
    border-radius: 100%;
}

.avatar p {
    margin-right: 0.5rem;
    font-size: 0.75rem;
    font-weight: 900;
}

.separate {
    margin-right: 4rem;
}

.logotype a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logotype a svg {
    margin-right: 0.5rem;
    color: var(--color-primary);
}