.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation li {
    margin-left: 0.5rem;
}

.usersettings {
    display: flex;
    align-items: center;
}

.usersettings p {
    margin-left: 0.5rem;
}