.backgroundContainer {
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: var(--background-mid);
    background: var(--background-gradient-45deg);
}

.projectName {
    margin-bottom: 1rem;
}

.projectName h2 {
    text-shadow: 0px 1px 0px var(--color-secondary-dark);
    color: white;
}

.container {
    position: relative;
    background: var(--background-light);
    padding: 1.5rem 3rem;
    border-radius: 0.5rem;
    width: 400px;
}

.container .header {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.container .header p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.header p span {
    font-weight: bold;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    position: relative;
}

.inputGroup svg {
    position: absolute;
    top: 1.9rem;
    left: 0.5rem;
}

.inputGroup label {
    font-size: 0.75rem;
}

.inputGroup input {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 0;
    outline: none;
    border: none;
    border-bottom: 2px solid #cacccf;
}

.inputGroup input:focus {
    border-image: var(--background-gradient-reverse) 1 round;
}

.inputGroupFirst {
    margin-bottom: 30px;
}

.submitContainer {
    text-align: center;
    background: var(--background-dark);
    border-radius: 5rem;
}

.submitContainer button {
    height: 50px;
    padding: 1rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    border: none;
    outline: none;
    background: var(--color-accent);
    border-radius: 5rem;
    transition: all var(--animation-duration) ease-in-out;
    background: var(--background-dark);
}

.submitContainer button:hover {
    cursor: pointer;
    background: rgb(0, 255, 239);
    background: var(--background-gradient-reverse);
}

.submitContainer button:focus {
    background: rgb(0, 255, 239);
    background: var(--background-gradient-reverse);
}

.submitLoading button:hover {
    cursor: initial;
    background: var(--background-dark) !important;
}

.submitContainer>div {
    margin-top: 1rem;
}

.signupContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-size: 0.75rem;
    width: 100%;
    margin-top: 15px;
}

.forgotPassword {
    margin-top: 10px;
    text-align: right;
    font-size: 0.75rem;
}

.forgotPassword a {
    opacity: 0.7;
}

.forgotPassword a:hover {
    opacity: 1;
}

.hasError {
    color: var(--color-danger);
}

.hasError input {
    border-bottom: 2px solid var(--color-danger);
}

.errorContainer {
    height: 5rem;
    width: 100%;
    margin-bottom: 0rem;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cancelButtonContainer {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    cursor: pointer;
    opacity: 0.6;
}

.cancelButtonContainer:hover {
    opacity: 1;
}